<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Revolute_20">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_20']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_26">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_26']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_30">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_30']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_37">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_37']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_45">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_45']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute_60">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute_60']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
