<?xml version="1.0"?>
<robot name="cika" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find cika_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find cika_description)/urdf/cika.trans" />
    <xacro:include filename="$(find cika_description)/urdf/cika.gazebo" />

    <xacro:arg name="use_sim" default="true" />

    <link name="base_footprint" />

    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="-0.2887 0.1505 0" rpy="0 0 0" />
    </joint>

    <link name="base_link">
        <inertial>
            <origin xyz="-0.3402544963784244 0.2806563999605386 0.1802800357739129" rpy="0 0 0" />
            <mass value="31.333884944278793" />
            <inertia ixx="1.076941" iyy="1.528462" izz="1.471653" ixy="-0.017165" iyz="-0.001535"
                ixz="0.352608" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/base_link.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/base_link.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="lidar_1">
        <inertial>
            <origin xyz="-7.788860805123254e-05 1.380999485323109e-07 0.018161514779435867"
                rpy="0 0 0" />
            <mass value="0.13019242629948757" />
            <inertia ixx="4.5e-05" iyy="4.5e-05" izz="5.5e-05" ixy="-0.0" iyz="0.0" ixz="-0.0" />
        </inertial>
        <visual>
            <origin xyz="0.038004 -0.394984 -0.193653" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/lidar_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.038004 -0.394984 -0.193653" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/lidar_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="OAKDcamera_1">
        <inertial>
            <origin xyz="0.008627287459207711 0.00020829736017036193 0.00010040176670389478"
                rpy="0 0 0" />
            <mass value="0.1469212855023488" />
            <inertia ixx="0.000116" iyy="1.5e-05" izz="0.00011" ixy="0.0" iyz="0.0" ixz="0.0" />
        </inertial>
        <visual>
            <origin xyz="0.517714 -0.279984 -0.656903" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/OAKDcamera_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.517714 -0.279984 -0.656903" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/OAKDcamera_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="oak_rgb_camera_optical_frame">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.001 0.001 0.001" />
            </geometry>
            <material name="transparent">
                <color rgba="0 0 0 0" />
            </material>
        </visual>
    </link>

    <link name="right_front_wheel_1">
        <inertial>
            <origin xyz="6.505112993965279e-07 -0.03991970856494285 6.05324805946772e-07"
                rpy="0 0 0" />
            <mass value="1.7278807706707637" />
            <inertia ixx="0.0043" iyy="0.007189" izz="0.0043" ixy="0.0" iyz="0.0" ixz="0.0" />
        </inertial>
        <visual>
            <origin xyz="0.099911 -0.098464 -0.095987" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_front_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.099911 -0.098464 -0.095987" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_front_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="right_back_wheel_1">
        <inertial>
            <origin xyz="-5.185954167208351e-07 -0.03991970856493861 -4.402746960202597e-07"
                rpy="0 0 0" />
            <mass value="1.7278807706707027" />
            <inertia ixx="0.0043" iyy="0.007189" izz="0.0043" ixy="-0.0" iyz="-0.0" ixz="0.0" />
        </inertial>
        <visual>
            <origin xyz="0.47736 -0.098484 -0.095987" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_back_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.47736 -0.098484 -0.095987" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_back_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="left_front_wheel_1">
        <inertial>
            <origin xyz="6.338714171050253e-07 0.039919523063341344 -1.888233335661793e-07"
                rpy="0 0 0" />
            <mass value="1.7279014792962415" />
            <inertia ixx="0.004301" iyy="0.007189" izz="0.0043" ixy="-0.0" iyz="0.0" ixz="-0.0" />
        </inertial>
        <visual>
            <origin xyz="0.100089 -0.461484 -0.095987" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_front_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.100089 -0.461484 -0.095987" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_front_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="left_back_wheel_1">
        <inertial>
            <origin xyz="-4.926971865493179e-07 0.03991952306333779 -9.046110188842826e-07"
                rpy="0 0 0" />
            <mass value="1.7279014792962415" />
            <inertia ixx="0.0043" iyy="0.007189" izz="0.004301" ixy="0.0" iyz="0.0" ixz="0.0" />
        </inertial>
        <visual>
            <origin xyz="0.47736 -0.461484 -0.095987" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_back_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.47736 -0.461484 -0.095987" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_back_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="arm_bottom_1">
        <inertial>
            <origin xyz="-0.05490937031295691 -0.0007070188502145691 0.03829347816979162"
                rpy="0 0 0" />
            <mass value="0.8582742343668851" />
            <inertia ixx="0.002214" iyy="0.002209" izz="0.003262" ixy="-5e-06" iyz="-4e-06"
                ixz="1e-06" />
        </inertial>
        <visual>
            <origin xyz="0.069976 -0.279891 -0.149403" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/arm_bottom_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.069976 -0.279891 -0.149403" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/arm_bottom_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="turntable_1">
        <inertial>
            <origin xyz="0.0001872362428060187 0.00027250854131644076 0.03041069208368402"
                rpy="0 0 0" />
            <mass value="0.5193886148387532" />
            <inertia ixx="0.001399" iyy="0.000986" izz="0.001632" ixy="1e-06" iyz="-4e-06"
                ixz="-0.0" />
        </inertial>
        <visual>
            <origin xyz="0.124976 -0.279891 -0.228958" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/turntable_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.124976 -0.279891 -0.228958" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/turntable_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="lower_arm_1">
        <inertial>
            <origin xyz="-0.09906803462307659 0.03493501970041901 0.0040088699473889156" rpy="0 0 0" />
            <mass value="0.6297893688817031" />
            <inertia ixx="0.00075" iyy="0.002646" izz="0.00301" ixy="0.000117" iyz="-0.0" ixz="0.0" />
        </inertial>
        <visual>
            <origin xyz="0.124726 -0.248091 -0.290458" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/lower_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.124726 -0.248091 -0.290458" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/lower_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="center_arm_1">
        <inertial>
            <origin xyz="-0.04471495851291879 -0.017791934278125254 0.038402444344115716"
                rpy="0 0 0" />
            <mass value="0.3101540991150054" />
            <inertia ixx="0.000363" iyy="0.000774" izz="0.000462" ixy="5e-06" iyz="-4e-06"
                ixz="0.000313" />
        </inertial>
        <visual>
            <origin xyz="0.309726 -0.299041 -0.294458" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/center_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.309726 -0.299041 -0.294458" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/center_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="upper_arm_1">
        <inertial>
            <origin xyz="0.03494178929729563 -0.02592725586590927 0.00493008451297311" rpy="0 0 0" />
            <mass value="0.34058866178884734" />
            <inertia ixx="0.000394" iyy="0.000385" izz="0.000588" ixy="3.6e-05" iyz="5e-06"
                ixz="-3.4e-05" />
        </inertial>
        <visual>
            <origin xyz="0.399736 -0.310541 -0.369985" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/upper_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.399736 -0.310541 -0.369985" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/upper_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="gripper_mount_1">
        <inertial>
            <origin xyz="0.0456203277977868 0.0026744498799706196 -0.0009097163619689042"
                rpy="0 0 0" />
            <mass value="0.11840999912096761" />
            <inertia ixx="6.4e-05" iyy="0.000119" izz="7.5e-05" ixy="-1e-06" iyz="8e-06"
                ixz="-1e-06" />
        </inertial>
        <visual>
            <origin xyz="0.320912 -0.280641 -0.38692" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/gripper_mount_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.320912 -0.280641 -0.38692" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/gripper_mount_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="right_gripper_1">
        <inertial>
            <origin xyz="0.020778629500080026 -0.017206311101249316 -0.0024726376420861063"
                rpy="0 0 0" />
            <mass value="0.029955795985461164" />
            <inertia ixx="4e-06" iyy="2.4e-05" izz="2.6e-05" ixy="2e-06" iyz="-1e-06" ixz="1e-06" />
        </inertial>
        <visual>
            <origin xyz="0.242659 -0.27999 -0.407511" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_gripper_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.242659 -0.27999 -0.407511" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_gripper_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="left_gripper_1">
        <inertial>
            <origin xyz="0.00966991515023713 0.01685090795784533 0.00997334489367957" rpy="0 0 0" />
            <mass value="0.037519098370183246" />
            <inertia ixx="1.3e-05" iyy="4.8e-05" izz="5.6e-05" ixy="-4e-06" iyz="-2e-06"
                ixz="-8e-06" />
        </inertial>
        <visual>
            <origin xyz="0.241586 -0.28216 -0.395248" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_gripper_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="silver" />
        </visual>
        <collision>
            <origin xyz="0.241586 -0.28216 -0.395248" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_gripper_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <joint name="lidar_1_joint" type="fixed">
        <origin xyz="-0.038004 0.394984 0.193653" rpy="0 0 3.14159" />
        <parent link="base_link" />
        <child link="lidar_1" />
    </joint>

    <joint name="OAKDCamera_1_joint" type="fixed">
        <origin xyz="-0.517714 0.279984 0.656903" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="OAKDcamera_1" />
    </joint>

    <joint name="oakd_optical_joint" type="fixed">
        <parent link="OAKDcamera_1" />
        <child link="oak_rgb_camera_optical_frame" />
        <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" />
    </joint>

    <joint name="right_front_wheel_1_joint" type="continuous">
        <origin xyz="-0.099911 0.098464 0.095987" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="right_front_wheel_1" />
        <axis xyz="-0.0 1.0 0.0" />
    </joint>

    <joint name="right_back_wheel_1_joint" type="continuous">
        <origin xyz="-0.47736 0.098484 0.095987" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="right_back_wheel_1" />
        <axis xyz="-0.0 1.0 0.0" />
    </joint>

    <joint name="left_front_wheel_1_joint" type="continuous">
        <origin xyz="-0.100089 0.461484 0.095987" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="left_front_wheel_1" />
        <axis xyz="-0.0 1.0 0.0" />
    </joint>

    <joint name="left_back_wheel_1_joint" type="continuous">
        <origin xyz="-0.47736 0.461484 0.095987" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="left_back_wheel_1" />
        <axis xyz="-0.0 1.0 0.0" />
    </joint>

    <joint name="arm_bottom_1_joint" type="fixed">
        <origin xyz="-0.069976 0.279891 0.149403" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="arm_bottom_1" />
    </joint>

    <joint name="turntable_1_joint" type="continuous">
        <origin xyz="-0.055 0.0 0.079555" rpy="0 0 0" />
        <parent link="arm_bottom_1" />
        <child link="turntable_1" />
        <axis xyz="-0.0 0.0 1.0" />
    </joint>

    <joint name="lower_arm_1_joint" type="revolute">
        <origin xyz="0.00025 -0.0318 0.0615" rpy="0 0 0" />
        <parent link="turntable_1" />
        <child link="lower_arm_1" />
        <axis xyz="-0.0 1.0 -0.0" />
        <limit upper="3.141593" lower="0.0" effort="100" velocity="100" />
    </joint>

    <joint name="center_arm_1_joint" type="revolute">
        <origin xyz="-0.185 0.05095 0.004" rpy="0 0 0" />
        <parent link="lower_arm_1" />
        <child link="center_arm_1" />
        <axis xyz="0.0 -1.0 0.0" />
        <limit upper="0.0" lower="-1.570796" effort="100" velocity="100" />
    </joint>

    <joint name="upper_arm_1_joint" type="revolute">
        <origin xyz="-0.09001 0.0115 0.075527" rpy="0 0 0" />
        <parent link="center_arm_1" />
        <child link="upper_arm_1" />
        <axis xyz="-0.0 1.0 -0.0" />
        <limit upper="0.0" lower="-3.141593" effort="100" velocity="100" />
    </joint>

    <joint name="gripper_mount_1_joint" type="revolute">
        <origin xyz="0.078824 -0.0299 0.016935" rpy="0 0 0" />
        <parent link="upper_arm_1" />
        <child link="gripper_mount_1" />
        <axis xyz="0.996195 -0.0 0.087156" />
        <limit upper="3.141593" lower="0.0" effort="100" velocity="100" />
    </joint>

    <joint name="right_gripper_1_joint" type="revolute">
        <origin xyz="0.078253 -0.000651 0.020591" rpy="0 0 0" />
        <parent link="gripper_mount_1" />
        <child link="right_gripper_1" />
        <axis xyz="-0.085832 -0.173648 0.98106" />
        <limit upper="0.0" lower="-0.610865" effort="100" velocity="100" />
        <mimic joint="left_gripper_1_joint" multiplier="-1.0" />
    </joint>

    <joint name="left_gripper_1_joint" type="revolute">
        <origin xyz="0.079326 0.001519 0.008328" rpy="0 0 0" />
        <parent link="gripper_mount_1" />
        <child link="left_gripper_1" />
        <axis xyz="-0.085832 -0.173648 0.98106" />
        <limit upper="0.610865" lower="0.0" effort="100" velocity="100" />
    </joint>

    <ros2_control name="CikaSystem" type="system">
        <hardware>
            <xacro:if value="$(arg use_sim)">
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:if>
            <xacro:unless value="$(arg use_sim)">
                <plugin>cika_hardware/CikaDriveInterface</plugin>
                <param name="wheel_separation">0.363</param>
                <param name="wheel_radius">0.0885</param>
                <param name="odom_topic">/cika/odom</param>
                <param name="cmd_topic">/cika/drive/wheel_vel_cmd</param>
            </xacro:unless>
        </hardware>

        <joint name="left_front_wheel_1_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="left_back_wheel_1_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="right_front_wheel_1_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="right_back_wheel_1_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

    <ros2_control name="CikaArmSystem" type="system">
        <hardware>
            <xacro:if value="$(arg use_sim)">
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:if>
            <xacro:unless value="$(arg use_sim)">
                <plugin>cika_hardware_arm/CikaHardware</plugin>
            </xacro:unless>
        </hardware>

        <joint name="turntable_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="lower_arm_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="center_arm_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="upper_arm_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="gripper_mount_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="left_gripper_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

</robot>