<?xml version="1.0"?>
<robot name="cika" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find cika_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find cika_description)/urdf/cika.gazebo" />
    <xacro:arg name="use_sim" default="true" />

    <!-- ==================== BASE LINK ==================== -->
    <link name="base_link">
        <inertial>
            <origin xyz="-0.332609 0.151210 0.174075" rpy="0 0 0" />
            <mass value="30.109" />
            <inertia ixx="0.935033" iyy="1.442245" izz="1.317153" ixy="-0.016969" iyz="-0.001673"
                ixz="0.3152" />
        </inertial>
        <visual>
            <!-- Base mesh usually centered at 0,0,0 in export -->
            <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/base_link.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="military_green" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/base_link.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <!-- ==================== WHEELS ==================== -->
    <!-- Logic: xyz="OldX -OldZ OldY" -->

    <link name="left_front_wheel_1">
        <visual>
            <origin xyz="0.100089 0.0962 -0.332003" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_front_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <origin xyz="0.100089 0.0962 -0.332003" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_front_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="left_back_wheel_1">
        <visual>
            <origin xyz="0.47736 0.0962 -0.332003" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_back_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <origin xyz="0.47736 0.0962 -0.332003" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_back_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="right_front_wheel_1">
        <visual>
            <origin xyz="0.099911 0.0962 0.031017" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_front_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <origin xyz="0.099911 0.0962 0.031017" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_front_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="right_back_wheel_1">
        <visual>
            <origin xyz="0.47736 0.0962 0.030997" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_back_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <origin xyz="0.47736 0.0962 0.030997" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_back_wheel_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <!-- ==================== SENSORS ==================== -->
    <link name="lidar_1">
        <visual>
            <origin xyz="0.038004 0.193866 -0.265503" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/lidar_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="ash" />
        </visual>
        <collision>
            <origin xyz="0.038004 0.193866 -0.265503" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/lidar_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="OAKDcamera_1">
        <visual>
            <origin xyz="0.517714 0.657116 -0.150503" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/OAKDcamera_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="ash" />
        </visual>
        <collision>
            <origin xyz="0.517714 0.657116 -0.150503" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/OAKDcamera_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <!-- ==================== ARM LINKS ==================== -->
    <link name="arm_bottom_1">
        <visual>
            <origin xyz="0.069976 0.149616 -0.15041" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/arm_bottom_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="dark_grey" />
        </visual>
        <collision>
            <origin xyz="0.069976 0.149616 -0.15041" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/arm_bottom_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="turntable_1">
        <visual>
            <origin xyz="0.124976 0.229171 -0.15041" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/turntable_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="dark_grey" />
        </visual>
        <collision>
            <origin xyz="0.124976 0.229171 -0.15041" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/turntable_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="lower_arm_1">
        <visual>
            <origin xyz="0.124726 0.294671 -0.11861" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/lower_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="light_grey" />
        </visual>
        <collision>
            <origin xyz="0.124726 0.294671 -0.11861" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/lower_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="center_arm_1">
        <visual>
            <origin xyz="0.308014 0.269563 -0.17411" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/center_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="dark_grey" />
        </visual>
        <collision>
            <origin xyz="0.308014 0.269563 -0.17411" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/center_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="upper_arm_1">
        <visual>
            <origin xyz="0.353547 0.377882 -0.18061" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/upper_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="light_grey" />
        </visual>
        <collision>
            <origin xyz="0.353547 0.377882 -0.18061" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/upper_arm_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="gripper_mount_1">
        <visual>
            <origin xyz="0.272519 0.373681 -0.15066" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/gripper_mount_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="dark_grey" />
        </visual>
        <collision>
            <origin xyz="0.272519 0.373681 -0.15066" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/gripper_mount_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="left_gripper_1">
        <visual>
            <origin xyz="0.200041 0.35166 -0.15066" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_gripper_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="light_grey" />
        </visual>
        <collision>
            <origin xyz="0.200041 0.35166 -0.15066" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/left_gripper_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="right_gripper_1">
        <visual>
            <origin xyz="0.200041 0.35166 -0.15066" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_gripper_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
            <material name="light_grey" />
        </visual>
        <collision>
            <origin xyz="0.200041 0.35166 -0.15066" rpy="${pi/2} 0 0" />
            <geometry>
                <mesh filename="package://cika_description/meshes/right_gripper_1.stl"
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>


    <!-- ==================== WHEEL JOINTS ==================== -->
    <!-- Joint xyz values are UNCHANGED — they are already in ROS coordinates -->

    <joint name="left_front_wheel_1_joint" type="continuous">
        <origin xyz="-0.100089 0.332003 0.0962" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="left_front_wheel_1" />
        <axis xyz="0.0 1.0 0.0" />
    </joint>

    <joint name="left_back_wheel_1_joint" type="continuous">
        <origin xyz="-0.47736 0.332003 0.0962" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="left_back_wheel_1" />
        <axis xyz="0.0 1.0 0.0" />
    </joint>

    <joint name="right_front_wheel_1_joint" type="continuous">
        <origin xyz="-0.099911 -0.031017 0.0962" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="right_front_wheel_1" />
        <axis xyz="-0.0 1.0 0.0" />
    </joint>

    <joint name="right_back_wheel_1_joint" type="continuous">
        <origin xyz="-0.47736 -0.030997 0.0962" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="right_back_wheel_1" />
        <axis xyz="0.0 1.0 0.0" />
    </joint>

    <!-- ==================== FIXED SENSOR/ARM JOINTS ==================== -->

    <joint name="lidar_1_joint" type="fixed">
        <origin xyz="-0.038004 0.265503 0.193866" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="lidar_1" />
    </joint>

    <joint name="OAKDCamera_1_joint" type="fixed">
        <origin xyz="-0.517714 0.150503 0.657116" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="OAKDcamera_1" />
    </joint>

    <joint name="arm_bottom_1_joint" type="fixed">
        <origin xyz="-0.069976 0.15041 0.149616" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="arm_bottom_1" />
    </joint>

    <!-- ==================== ARM JOINTS ==================== -->

    <joint name="turntable_1_joint" type="continuous">
        <origin xyz="-0.055 0.0 0.079555" rpy="0 0 0" />
        <parent link="arm_bottom_1" />
        <child link="turntable_1" />
        <axis xyz="0.0 -0.0 1.0" />
    </joint>

    <joint name="lower_arm_1_joint" type="revolute">
        <origin xyz="0.00025 -0.0318 0.0655" rpy="0 0 0" />
        <parent link="turntable_1" />
        <child link="lower_arm_1" />
        <axis xyz="-0.0 1.0 0.0" />
        <limit upper="3.142" lower="-0.1" effort="100" velocity="100" />
    </joint>

    <joint name="center_arm_1_joint" type="revolute">
        <origin xyz="-0.183288 0.0555 -0.025108" rpy="0 0 0" />
        <parent link="lower_arm_1" />
        <child link="center_arm_1" />
        <axis xyz="0.0 -1.0 -0.0" />
        <limit upper="2.793" lower="-0.349066" effort="100" velocity="100" />
    </joint>

    <joint name="upper_arm_1_joint" type="revolute">
        <origin xyz="-0.045533 0.0065 0.108319" rpy="0 0 0" />
        <parent link="center_arm_1" />
        <child link="upper_arm_1" />
        <axis xyz="-0.0 1.0 0.0" />
        <limit upper="1.0476" lower="-2.094395" effort="100" velocity="100" />
    </joint>

    <joint name="gripper_mount_1_joint" type="revolute">
        <origin xyz="0.081028 -0.02995 -0.004201" rpy="0 0 0" />
        <parent link="upper_arm_1" />
        <child link="gripper_mount_1" />
        <axis xyz="0.956814 -0.0 -0.290702" />
        <limit upper="2.3567" lower="-0.785398" effort="100" velocity="100" />
    </joint>

    <!-- ==================== GRIPPER JOINTS ==================== -->

    <joint name="left_gripper_1_joint" type="revolute">
        <origin xyz="0.072478 0.0 -0.022021" rpy="0 0 0" />
        <parent link="gripper_mount_1" />
        <child link="left_gripper_1" />
        <axis xyz="-0.290702 0.0 -0.956814" />
        <limit upper="0.0" lower="-0.785398" effort="100" velocity="100" />
    </joint>

    <joint name="right_gripper_1_joint" type="revolute">
        <origin xyz="0.072478 0.0 -0.022021" rpy="0 0 0" />
        <parent link="gripper_mount_1" />
        <child link="right_gripper_1" />
        <axis xyz="-0.290702 0.0 -0.956814" />
        <limit upper="0.785398" lower="0.0" effort="100" velocity="100" />
        <mimic joint="left_gripper_1_joint" multiplier="-1.0" />
    </joint>

    <joint name="oakd_optical_joint" type="fixed">
        <parent link="OAKDcamera_1" />
        <child link="OAKDcamera_1_optical" />
        <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" />
    </joint>

    <!-- ==================== ROS2 CONTROL ==================== -->
    <ros2_control name="CikaSystem" type="system">
        <hardware>
            <xacro:if value="$(arg use_sim)">
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:if>
            <xacro:unless value="$(arg use_sim)">
                <plugin>cika_hardware/CikaDriveInterface</plugin>
                <param name="wheel_separation">0.363</param>
                <param name="wheel_radius">0.0885</param>
                <param name="odom_topic">/cika/odom</param>
                <param name="cmd_topic">/cika/drive/wheel_vel_cmd</param>
            </xacro:unless>
        </hardware>

        <!-- Drive joints — velocity controlled -->
        <joint name="left_front_wheel_1_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="left_back_wheel_1_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="right_front_wheel_1_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="right_back_wheel_1_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Arm joints — position controlled -->
        <joint name="turntable_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="lower_arm_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="center_arm_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="upper_arm_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="gripper_mount_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Gripper joints -->
        <joint name="left_gripper_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="right_gripper_1_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

</robot>